body {
    font-family: 'Arial';
    direction: rtl;
    text-align: center;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.5s ease;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#modeBtn, #errorBtn {
    margin-top: 20px;
    background-color: #555;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#errorContainer {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    color: #f44336; /* اللون الأحمر */
}
